.form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input{
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--main-color-text);
}

.button{
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color-secondary);
  cursor: pointer;
  color: var(--main-color-text);
}

.button:hover {
  background-color: var(--main-hover-color);
}